<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700" rel="stylesheet">
    <title>Add Snippet</title>
  </head>
  <body id="add">
    <header>
      <h1 class="logo button">{codeKeeper}</h1>
    </header>

    <form class="add-form" action="/add" method="post">
      <h1 class="center">Add a new code snippet:</h1>
      <p>Title:</p>
      <input class="width" type="text" name="title" size="80">
      <p>Primary language:</p>
      <input type="checkbox" name="language" value="Javascript"> Javascript
      <input type="checkbox" name="language" value="HTML">HTML
      <input type="checkbox" name="language" value="CSS">CSS
      <input type="checkbox" name="language" value="Ruby">Ruby
      <p>Snippet:</p>
      <textarea name="snippet" rows="8" placeholder="Paste code here"></textarea>
      <p>Notes:</p>
      <textarea name="notes" rows="8" placeholder="Add optional notes"></textarea>
      <p>Tags (keywords to classify your snippets):</p>
      <input class="width" type="text" name="tags" size="80" placeholder="Example: frontend, database, middleware">
      <p><input type="checkbox" name="public" value="true">Make code public to other codeKeeper users</p>
      <p class="center"><button id="addButton" type="submit">Submit</button></p>
    </form>
  </body>
</html>
