<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>

    <h1>Login to Code Keeper:</h1>

    <form action="/login" method="POST">
       <input type="text" name="username" placeholder="Username" />
       <input type="password" name="password" placeholder="Password" />
       <button type="submit">Submit</button>
    </form>

    <a href="/register">Click here to Register >></a>

  </body>
</html>
