<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700" rel="stylesheet">
    <title>codeKeeper Profile</title>
  </head>
  <body>
    <header>
      <h1 class="logo, button">{codeKeeper}</h1>

      {{#username}}<h2>Welcome, {{username}}!</h2>{{/username}}

      <p>You have {{snip.length}} saved snippets.</p>

      <p><a href="/add" class="button">Add a code snippet</a>
        <a href="/" class="button">Explore code by others</a>
      </p>

      <div class="">
        <p>Filter by language:</p>
        <a class="Javascript" href="/profile/filter/Javascript">Javascript</a>
        <a class="HTML" href="/profile/filter/HTML">HTML</a>
        <a class="CSS" href="/profile/filter/CSS">CSS</a>
        <a class="Ruby" href="/profile/filter/Ruby">Ruby</a>
        <!-- <p>OR</p> -->
      </div>

    </header>

    <div id="snip-container">
      {{#snip}}
        <div class="snip {{language}}">
          <a href='/profile/{{_id}}'><h2>Title: {{title}}</h2></a>
          <p>Created: {{created}}</p>
          <a href='/profile/filter/{{language}}'class='{{language}}'>{{language}}</a>
        </div>
      {{/snip}}
    </div>

    {{^snip}}
      <h1>Start adding code snippets!</h1>
    {{/snip}}

  </body>
</html>
