<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700" rel="stylesheet">
    <title>Register</title>
  </head>
  <body id=register>
    <header>
      <h1 class="logo button">{codeKeeper}</h1>

      <p class="center">codeKeeper is a place to store, organize, and share your snippets, from work-in-progress to breakthrough code.</p>

      <p class="center">Who says you should throw code away!?</p>
    </header>

      {{#messages.error}}
          <div class="alert alert-danger" role="alert">
            {{.}}
          </div>
      {{/messages.error}}

    <div id="register-form">
      <h1>Create new account:</h1>

      <form action="/register" method="POST">
         <input type="text" name="username" placeholder="Username" /> <br>
         <input type="password" name="password" placeholder="Password" /> <br>
         <button type="submit" id="registerButton">Submit</button>
      </form>
    </div>

    <p class="center">Returning user? <a class="button" href="/login">Go to login</a></p>

    <h2 class="center">Preview the last five snippet additions:</h2>
    <div id="snip-container">
      {{#snip}}
        <div class="snip {{language}}">
          <a href='/profile/{{_id}}'><h2>Title: {{title}}</h2></a>
          <p>Created by: {{username}}</p>
          <p>Created: {{created}}</p>
          <a href='/all/filter/{{language}}'class='{{language}}'>{{language}}</a>
        </div>
      {{/snip}}
    </div>

  </body>
</html>
