<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>

    <h1>Register for Code Keeper:</h1>

    <form action="/register" method="POST">
       <input type="text" name="username" placeholder="Username" />
       <input type="password" name="password" placeholder="Password" />
       <button type="submit">Submit</button>
    </form>

  </body>
</html>
