<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700" rel="stylesheet">
    <title>Snippet Details</title>
  </head>
  <body id="add">
    <header>
      <h1 class="logo button">{codeKeeper}</h1>
    </header>

    {{#snip}}
    <div id="add-form">
      <h1>{{title}}</h1>
      <p>Title:</p>
      <p>Primary language:</p>
      <p>Snippet:</p>
      <p>Notes:</p>
      <p>Tags (keywords to classify your snippets):</p>
      <p>Public</p>
    </div>
    {{/snip}}

  </body>
</html>
