<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700" rel="stylesheet">
    <title>Snippet Details</title>
  </head>
  <body id="add">
    <header>
      <h1 class="logo button">{codeKeeper}</h1>
    </header>

    {{#snip}}
    <div class='add-form {{language}}'>
      <h1 class="center">{{title}}</h1>
      <p>Snippet:</p>
      <p class="snippet">{{snippet}}</p>
      <p>Notes:</p>
      <p class="snippet">{{notes}}</p>
      <p>Tags: {{tags}}</p>
      <p>Public: {{public}}</p>
      <a href='/profile/filter{{language}}'class='{{language}}'>{{language}}</a>
    </div>
    {{/snip}}

  </body>
</html>
