body {
  font-family: 'Quicksand', sans-serif;
}

.logo {
  font-family: 'Quicksand', sans-serif;
}

header {
  margin-left: 10px;
}

#register, #login, #add {
  margin: 0px auto;
  text-align: center;
  width: 75%;
}

#login-form, #register-form, #add-form, .snip {
  border: 2px solid red;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px 20px 20px;
}

.button {
  background-color: black;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

div.CSS {
  border: 2px solid #19AE9D;
}

a.CSS {
  background-color: #19AE9D;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

div.Javascript {
  border: 2px solid #FC7B00;
}

a.Javascript {
  background-color: #FC7B00;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

div.HTML {
  border: 2px solid #FFC300;
}

a.HTML {
  background-color: #FFC300;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

div.Ruby {
  border: 2px solid #FF00FF;
}

a.Ruby {
  background-color: #FF00FF;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

#add-form {
  text-align: left;
}

#add-form h1 {
  text-align: center;
}

a {
  color: red;
}

#snip-container {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
}

.snip {
  /*display: flex;
  flex-direction: column;*/
  flex-grow: 0;
}
